// Color

$primary-color: #fff;

// Font-Family
// family ACROM
$acrom-regular: 'Acrom', sans-serif;
$acrom-medium: 'Acrom-Medium', sans-serif;
$acrom-bold: 'Acrom-Bold', sans-serif;
$acrom-extrabold: 'Acrom-ExtraBold', sans-serif;

// family GILROY
$gilroy-light: 'Gilroy-Light', sans-serif;
$gilroy-extrabold: 'Gilroy-ExtraBold', sans-serif;
