// Color
$primary-white: #fff;
$primary-black: #000;
$text-color: #3f4144;

// Font
$raleway: 'Raleway', sans-serif;
$acrom: 'acrom';
$acrom-extrabold: "Acrom-ExtraBold";
$gilroy:  "Gilroy-Light";
$gilroy-extrabold: "Gilroy-ExtraBold";