@font-face {
  font-family: "Acrom";
  src: url("../fonts/Acrom W00 Regular/Acrom W00 Regular.ttf");
  src: url("../fonts/Acrom W00 Regular/Acrom W00 Regular.woff");
  src: url("../fonts/Acrom W00 Regular/Acrom W00 Regular.woff2");
}

@font-face {
  font-family: "Acrom-ExtraBold";
  src: url("../fonts/Acrom W00 ExtraBold/Acrom W00 ExtraBold.ttf");
  src: url("../fonts/Acrom W00 ExtraBold/Acrom W00 ExtraBold.woff");
  src: url("../fonts/Acrom W00 ExtraBold/Acrom W00 ExtraBold.woff2");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light/Gilroy-Light.ttf");
  src: url("../fonts/Gilroy-Light/Gilroy-Light.woff");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf");
  src: url("../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff");
}
