// MAIN css
// for all section container max width individual @media rules ANOTHER!!!!
.container {
  max-width: 320px;
  margin: auto;

  @media screen and (min-width: 480) {
    max-width: 480px;
  }
  @media screen and (min-width: 768) {
    max-width: 768px;
  }
  @media screen and (min-width: 960) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200) {
    max-width: 1200px;
  }
  @media screen and (min-width: 1440) {
    max-width: 1440px;
  }
}

