// MAIN css
// Body Background

.body {
  background-color: #e8e8e8;
}

// for all section container max width individual @media rules ANOTHER!!!!
.container {
  max-width: 320px;
  margin: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 960px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.main {
  padding: 38px 12px 26px 12px;
  background-color: #fff;
}


