
@media (min-width:768px) and (max-width:960px){
  .wrapper-section-six__container{
    display: flex;
    width: 640px;
    height: 458px;
    margin-bottom: 56px;
    margin-top: 56px;
  }

  .section-list-container{
    width: 312px;
    height: 458px;
  }

  .section-size-six{
    width: 312px;
    height: 114px;
    margin-bottom: 42px;
  }

  .section-header__title{
    font-size: 20px;
  }

  .section-image{
    display: inline-block;
  }

  .size-title-text-six{
    width: 162px;
    height: 36px;
  }

  .title-underlining{
    font-size: 20px;
  }

  .title-size-section-six{
    margin-bottom: 24px;
  }

  .section-header__text{
    font-size: 9px;
    margin-left: 47px
  }

  .section-header__text::before{
    width: 29px;
    height: 4px;
    left: -46px;
  }

  .section-list{
    width: 230px;
    height: 270px;
  }

  .nav-items__item-title{
    font-size: 7px;
    margin-bottom: 10px;
  }

  .nav-items__item-text{
    font-size: 9px;
  }

  .nav-items__item:not(:last-child){
    margin-bottom: 20px;
  }

  .nav-items__item-title:before{
    top: 3px;
  }

  .section-header__text:before{
    top: 4px;
  }

  .img-hard{
    width: 312px;
    height: 442px;
    object-fit: cover;
  }

  .wrapper-section-seven__container{
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 544px;
    margin-bottom: 56px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto
  }

  .wrapper-block-first{
    width: 558px;
    margin-left: auto;
    margin-bottom: 10px;
    height: 224px;
    display: flex;
  }

  .img-thinking-first{
    width: 276px;
    height: 170px;
    object-fit: cover;
  }

  .img-thinking-two{
    width: 276px;
    height: 226px;
    object-fit: cover;
  }
 
  .section-size-seven{
    width: 200px;
    height: 226px;
  }

  .title-size-section-seven{
    width: 167px;
    height: 92px;
    margin-bottom: 30px;
  }
  
  .inform-section-size-first{
    width: 182px;
    height: 128px;
  }

  .section-information{
    position: relative;
  }

  .informetion-title-size-first{
    width: 104px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: -136px;
  }
  
  .section-information__text-title{
    font-size: 9px;
    margin-bottom: 14px;
  }

  .section-information__text{
    font-size: 8px;
  }

  .wrapper-block-second{
    width: 640px;
    height: 226px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }

  .align-self-one{
    align-self: flex-end;
    margin: 0;
    margin-bottom: 128px;
  }

  .align-self-two{
    align-self: flex-start;
    margin: 0;
  }
  
  .inform-word{
    font-size: 7px;
    padding: 2px 6px;
  }

  .hidden-word{
    margin-bottom: 2px;
  }

  .informetion-title-size-second{
    width: 80px;
    height: 72px;
    position: absolute;
    top: -1px;
    left: -136px;
  }

  .inform-section-size-second{
    width: 180px;
    height: 102px;
    margin-left: 453px;
    position: absolute;
    bottom: 0px;
    right: 4px;
  }

  .section-size-eight{
    width: 270px;
    height: 134px;
    margin: 0;
  }

  .title-size-section-eight{
    width: 202px;
    height: 48px;
    margin-bottom: 30px;
  }

  .section-text-size-eight{
    width: 184px;
    height: 50px;
    margin-left: 48px;
  }

  .section-article{
    width: 236px;
    height: 106px;
    margin-top: 36px;
  }

  .title-margin{
    margin-bottom: 18px;
  }

  .title-margin::before{
    content: " ";
    display: block;
    background-color: $primary-black;
    width: 4px;
    height: 4px;
    position: absolute;
    top: -20px;
  }

  .wrapper-section-eight__container{
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }

  .section-photo{
    object-fit: contain;
    width: 312px;
    height: 180px;
  }

  .computer-image{
    width: 275px;
    height: 204px;
    object-fit: contain;
  }

  .wrapper-block{
    width: 640px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  
}