
@media only screen and (max-width: 480px){
  .section-size-six{
    width: 154px;
    height: 78px;
    margin-bottom: 26px;
  }

  .section-header__title{
    font-size: 12px;
  }

  .title-size-section-six{
    margin-bottom: 14px;
  }

  .section-header__text{
    font-size: 9px;
  }

  .section-list{
    width: 206px;
    height: 316px;
  }

  .nav-items__item-title{
    font-size: 9px;
    margin-bottom: 6px;
  }

  .nav-items__item-text{
    font-size: 10px;
  }

  .nav-items__item:not(:last-child){
    margin-bottom: 12px;
  }

  img{
    width: 300px;
    height: 130px;
    object-fit: cover;
  }

  .section-size-seven{
    width: 224px;
    height: 98px;
    margin-bottom: 22px;
  }

  .title-size-section-seven{
    width: 114px;
    height: 28px;
    margin-bottom: 8px;
  }

  .inform-section-size-first{
    margin-top: 22px;
    width: 270px;
    height: 136px;
    margin-bottom: 30px;
  }

  .section-information__title{
    font-size: 8px;
  }

  .informetion-title-size-first{
    width: 96px;
    height: 35px;
    margin-bottom: 12px;
  }

  .section-information__text-title{
    font-size: 10px;
    margin-bottom: 12px;
  }

  .section-information__text{
    font-size: 10px;
  }

  .inform-word{
    font-size: 10px;
    padding: 1px 3px;
  }

  .inform-word:not(:last-child){
    margin-bottom: 2px;
  }

  .informetion-title-size-second{
    width: 138px;
    height: 52px;
    margin-bottom: 14px;
  }

  .inform-section-size-second{
    margin-top: 14px;
    width: 248px;
    height: 140px;
  }

  .section-size-eight{
    width: 202px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 14px;
  }

  .title-size-section-eight{
    width: 120px;
    height: 28px;
    margin-bottom: 6px;
  }

  .section-text-size-eight{
    width: 182px;
    height: 48px;
    margin-left: 24px;
  }

  .section-article{
    width: 200px;
    height: 132px;
    margin-top: 18px;
  }

  .title-margin{
    margin-left: 18px;
  }

}

@media (max-width:768){
  .section-size-six{
    width: 230px;
    height: 120px;
    margin-bottom: 36px;
  }

  .section-header__title{
    font-size: 12px;
  }

  .title-size-section-six{
    margin-bottom: 24px;
  }

  .section-header__text{
    font-size: 9px;
  }

  .section-list{
    width: 308px;
    height: 350px;
  }

  .nav-items__item-title{
    font-size: 9px;
    margin-bottom: 10px;
  }

  .nav-items__item-text{
    font-size: 10px;
  }

  .nav-items__item:not(:last-child){
    margin-bottom: 18px;
  }

  img{
    width: 446px;
    height: 210px;
    object-fit: cover;
  }
 
  .section-size-seven{
    width: 336px;
    height: 148px;
    margin-bottom: 34px;
  }

  .title-size-section-seven{
    width: 172px;
    height: 42px;
    margin-bottom: 18px;
  }
  
  .inform-section-size-first{
    margin-top: 18px;
    width: 364px;
    height: 178px;
    margin-bottom: 42px;
  }

  .section-information__title{
    font-size: 8px;
  }
  
  .informetion-title-size-first{
    width: 134px;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .section-information__text-title{
    font-size: 10px;
    margin-bottom: 18px;
  }

  .section-information__text{
    font-size: 10px;
  }

  
  .inform-word{
    font-size: 10px;
    padding: 2px 6px;
  }

  .inform-word:not(:last-child){
    margin-bottom: 4px;
  }

  .informetion-title-size-second{
    width: 180px;
    height: 58px;
    margin-bottom: 20px;
  }

  .inform-section-size-second{
    margin-top: 20px;
    width: 328px;
    height: 178px;
  }

  .section-size-eight{
    width: 302px;
    height: 122px;
    margin-bottom: 28px;
    margin-top: 24px;
  }

  .title-size-section-eight{
    width: 180px;
    height: 42px;
    margin-bottom: 14px;
  }

  .section-text-size-eight{
    width: 266px;
    height: 70px;
    margin-left: 64px;
  }

  .section-article{
    width: 296px;
    height: 166px;
    margin-top: 18px;
  }

  .title-margin{
    margin-left: 24px;
  }
  
}

@media (max-width:768px){
  .wrapper-section-six__container,
  .wrapper-section-seven__container,
  .wrapper-section-eight__container{
    max-width: 1440px;
    min-width: 320px;
    padding: 0 10px;
  }

  .wrapper-section-six__container{
    margin-top: 40px;
    margin-bottom: 45px;
  }

  .wrapper-section-seven__container{
    margin-top: 26px;
    margin-bottom: 24px;
  }

  .wrapper-section-eight__container{
    margin-top: 12px;
    margin-bottom: 26px;
  }
}