// Mixin pallette;

@mixin heading-style ($font-family, $font-size, $line-height, $color-text, $text-transform, $text-align) {
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
  text-transform: $text-transform;
  text-align: $text-align;
}

// For Media
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type==max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
// @include text-decor ($font-family, $font-size, $font-weight, $line-height);
