.section-10 {
  margin: auto;
  text-align: center;
}

.section__image {
  padding: 0 10px;
}

.section-10__text {
  font-size: 7px;
  font-family: "Acrom-ExtraBold";
  font-weight: bold;
  padding: 0 70px;
  text-align: left;
}

.section-10__list {
  padding: 0 60px;
  counter-reset: list--10;
}

.list__item--10 {
  &::before {
    counter-increment: list--10;
    content: "[00" counter(list--10) "]";
    width: 30px;
    height: 5px;
    margin-top: 13px;
    padding: 3px;
    color: $primary-color;
    background-color: #ff6b08;
    font-size: 8px;
    font-family: "Acrom-Bold";
    transform: rotate(-90deg);
    line-height: 2px;
  }
}

.section__footer--10 {
  margin-bottom: 25px;
  margin-top: 0;
}

.footer__title--10 {
  margin: 0;
}

.section__btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  background-color: #ff6b08;
  font-size: 8px;
  font-family: "Acrom-ExtraBold";
  font-weight: bold;
  padding: 12px 24px;
  margin-bottom: 56px; 
}
