// Valeriy Media 480-768-960 for section 06-08
@media only screen and (max-width: 480px) {
  .section-size-six {
    width: 154px;
    height: 78px;
    margin-bottom: 26px;
  }
  .section-header__title {
    font-size: 12px;
  }
  .title-size-section-six {
    margin-bottom: 14px;
  }
  .section-header__text {
    font-size: 9px;
  }
  .section-list {
    width: 206px;
    height: 316px;
  }
  .nav-items__item-title {
    font-size: 9px;
    margin-bottom: 6px;
  }
  .nav-items__item-text {
    font-size: 10px;
  }
  .nav-items__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .nav-items__item-title:before {
    top: 3px;
  }
  .section-header__text:before {
    top: 5px;
  }
  .section-size-seven {
    width: 224px;
    height: 98px;
    margin-bottom: 22px;
  }
  .title-size-section-seven {
    width: 114px;
    height: 28px;
    margin-bottom: 8px;
  }
  .inform-section-size-first {
    margin-top: 22px;
    width: 270px;
    height: 136px;
    margin-bottom: 30px;
  }
  .section-information__title {
    font-size: 8px;
  }
  .informetion-title-size-first {
    width: 98px;
    height: 35px;
    margin-bottom: 12px;
  }
  .section-information__text-title {
    font-size: 10px;
    margin-bottom: 12px;
  }
  .section-information__text {
    font-size: 10px;
  }
  .inform-word {
    font-size: 10px;
    padding: 0px 3px;
  }
  .inform-word:not(:last-child) {
    margin-bottom: 2px;
  }
  .informetion-title-size-second {
    width: 140px;
    height: 52px;
    margin-bottom: 14px;
  }
  .inform-section-size-second {
    margin-top: 14px;
    width: 248px;
    height: 140px;
  }
  .section-size-eight {
    width: 202px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 14px;
  }
  .title-size-section-eight {
    width: 121px;
    height: 28px;
    margin-bottom: 6px;
  }
  .section-text-size-eight {
    width: 182px;
    height: 48px;
    margin-left: 24px;
  }
  .section-article {
    width: 200px;
    height: 132px;
    margin-top: 18px;
  }
  .title-margin {
    margin-left: 18px;
  }
  .title-underlining {
    font-size: 9px;
  }
}

@media (max-width:768px) {
  .nav-items__item-title::before {
    width: 4px;
    height: 4px;
  }
  .section-article {
    margin-left: auto;
    margin-right: auto;
  }
  .hidden-inform {
    color: $primary-white;
  }
  .section-information__title {
    line-height: 1.444;
  }
  .section-size-six {
    width: 230px;
    height: 120px;
    margin-bottom: 36px;
  }
  .section-header__title {
    font-size: 17px;
  }
  .title-size-section-six {
    margin-bottom: 24px;
  }
  .section-header__text {
    font-size: 13px;
  }
  .section-list {
    width: 308px;
    height: 392px;
  }
  .nav-items__item-title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .nav-items__item-text {
    font-size: 13px;
  }
  .nav-items__item:not(:last-child) {
    margin-bottom: 18px;
  }
  .nav-items__item-title:before {
    top: 5px;
  }
  .section-header__text:before {
    top: 7px;
  } // img{
  //   width: 446px;
  //   height: 210px;
  //   object-fit: cover;
  //   margin: auto;
  // }
  .section-size-seven {
    width: 336px;
    height: 148px;
    margin-bottom: 34px;
  }
  .title-size-section-seven {
    width: 172px;
    height: 42px;
    margin-bottom: 18px;
  }
  .inform-section-size-first {
    margin-top: 18px;
    width: 364px;
    height: 178px;
    margin-bottom: 42px;
  }
  .section-information__title {
    font-size: 8px;
  }
  .informetion-title-size-first {
    width: 134px;
    height: 40px;
    margin-bottom: 20px;
  }
  .section-information__text-title {
    font-size: 13px;
    margin-bottom: 18px;
  }
  .section-information__text {
    font-size: 13px;
  }
  .inform-word {
    font-size: 12px;
    padding: 0px 6px 0px 6px;
  }
  .inform-word:not(:last-child) {
    margin-bottom: 4px;
  }
  .informetion-title-size-second {
    width: 180px;
    height: 64px;
    margin-bottom: 20px;
  }
  .inform-section-size-second {
    margin-top: 20px;
    width: 312px;
    height: 178px;
  }
  .section-size-eight {
    width: 302px;
    height: 122px;
    margin-bottom: 28px;
    margin-top: 24px;
  }
  .title-size-section-eight {
    width: 172px;
    height: 42px;
    margin-bottom: 14px;
  }
  .section-text-size-eight {
    width: 266px;
    height: 70px;
    margin-left: 24px;
  }
  .section-article {
    width: 296px;
    height: 166px;
    margin-top: 18px;
  }
  .title-margin {
    margin-left: 24px;
  }
  .title-underlining {
    font-size: 13px;
  }
  .img-thinking-first,
  .img-thinking-two {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width:768px) {
  .img-hard {
    display: block;
  }
  .wrapper-section-six__container {
    width: 640px;
    height: 476px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
}

@media (max-width:768px) {
  .section-header__text::before {
    width: 14px;
    height: 2px;
    left: -24px;
  }
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .wrapper-section-six__container,
  .wrapper-section-seven__container,
  .wrapper-section-eight__container {
    max-width: 1440px;
    min-width: 320px;
    padding: 0 10px;
  }
  .wrapper-section-six__container {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .wrapper-section-seven__container {
    padding-top: 26px;
    padding-bottom: 24px;
  }
  .wrapper-section-eight__container {
    padding-top: 12px;
    padding-bottom: 26px;
  }
}

@media (min-width:768px) and (max-width:960px) {
  .wrapper-section-six__container {
    display: flex;
    width: 640px;
    height: 570px;
    padding-bottom: 56px;
    padding-top: 56px;
  }
  .section-list-container {
    width: 312px;
    height: 458px;
  }
  .section-size-six {
    width: 312px;
    height: 114px;
    margin-bottom: 42px;
  }
  .section-header__title {
    font-size: 20px;
  }
  .section-image {
    display: inline-block;
  }
  .size-title-text-six {
    width: 162px;
    height: 36px;
  }
  .title-underlining {
    font-size: 20px;
  }
  .title-size-section-six {
    margin-bottom: 24px;
  }
  .section-header__text {
    font-size: 9px;
    margin-left: 47px
  }
  .section-header__text::before {
    width: 29px;
    height: 4px;
    left: -46px;
  }
  .section-list {
    width: 230px;
    height: 300px;
  }
  .nav-items__item-title {
    font-size: 7px;
    margin-bottom: 10px;
  }
  .nav-items__item-text {
    font-size: 9px;
  }
  .nav-items__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav-items__item-title:before {
    top: 3px;
  }
  .section-header__text:before {
    top: 4px;
  }
  .img-hard {
    width: 312px;
    height: 442px;
    object-fit: cover;
  }
  .wrapper-section-seven__container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 656px;
    padding-bottom: 56px;
    padding-top: 56px;
    margin-left: auto;
    margin-right: auto
  }
  .wrapper-block-first {
    width: 558px;
    margin-left: auto;
    height: 224px;
    display: flex;
  }
  .img-thinking-first {
    width: 276px;
    height: 170px;
    object-fit: cover;
  }
  .img-thinking-two {    
    width: 276px;
    height: 226px;
    object-fit: cover;
  }
  .section-size-seven {
    width: 200px;
    height: 226px;
  }
  .title-size-section-seven {
    width: 167px;
    height: 92px;
    margin-bottom: 30px;
  }
  .inform-section-size-first {
    width: 182px;
    height: 128px;
  }
  .section-information {
    position: relative;
  }
  .informetion-title-size-first {
    width: 104px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: -136px;
  }
  .section-information__text-title {
    font-size: 9px;
    margin-bottom: 14px;
  }
  .section-information__text {
    font-size: 8px;
  }
  .wrapper-block-second {
    width: 640px;
    height: 226px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
  .align-self-one {
    align-self: flex-end;
    margin: 0;
    margin-bottom: 128px;
  }
  .align-self-two {
    align-self: flex-start;
    margin: 0;
  }
  .inform-word {
    line-height: 10px;
    font-size: 9px;
    padding: 0px 6px;
  }
  .hidden-word {
    margin-bottom: 2px;
  }
  .informetion-title-size-second {
    width: 80px;
    height: 72px;
    position: absolute;
    top: -1px;
    left: -136px;
  }
  .inform-section-size-second {
    width: 180px;
    height: 102px;
    position: absolute;
    bottom: 0px;
    right: 4px;
  }
  .section-size-eight {
    width: 270px;
    height: 134px;
    margin: 0;
  }
  .section-header {
    margin-left: 0;
  }
  .title-size-section-eight {
    width: 202px;
    height: 48px;
    margin-bottom: 30px;
  }
  .section-text-size-eight {
    width: 184px;
    height: 50px;
    margin-left: 48px;
  }
  .section-article {
    width: 236px;
    height: 106px;
    margin-top: 36px;
  }
  .title-margin {
    margin-bottom: 18px;
  }
  .title-margin::before {
    content: " ";
    display: block;
    background-color: $primary-black;
    width: 4px;
    height: 4px;
    position: absolute;
    top: -20px;
  }
  .wrapper-section-eight__container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }
  .section-photo {
    object-fit: contain;
    width: 312px;
    height: 180px;
  }
  .computer-image {
    width: 275px;
    height: 204px;
    object-fit: contain;
  }
  .wrapper-block {
    width: 640px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width:960px) and (max-width:1200px) {
  .wrapper-section-six__container {
    display: flex;
    width: 800px;
    height: 716px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .section-list-container {
    width: 384px;
    height: 530px;
  }
  .section-size-six {
    width: 384px;
    height: 142px;
    margin-bottom: 50px;
  }
  .section-header__title {
    font-size: 25px;
  }
  .section-image {
    display: inline-block;
  }
  .size-title-text-six {
    width: 202px;
    height: 46px;
  }
  .title-underlining {
    font-size: 25px;
  }
  .title-size-section-six {
    margin-bottom: 24px;
  }
  .section-header__text {
    font-size: 12px;
    margin-left: 47px
  }
  .section-header__text::before {
    width: 29px;
    height: 4px;
    left: -46px;
  }
  .section-list {
    width: 264px;
    height: 340px;
  }
  .nav-items__item-title::before {
    width: 6px;
    height: 6px;
  }
  .nav-items__item-title {
    font-size: 11px;
    margin-bottom: 14px;
  }
  .nav-items__item-text {
    font-size: 10px;
  }
  .nav-items__item:not(:last-child) {
    margin-bottom: 22px;
  }
  .nav-items__item-title:before {
    top: 3px;
  }
  .section-header__text:before {
    top: 4px;
  }
  .img-hard {
    width: 340px;
    height: 564px;
    object-fit: cover;
  }
  .wrapper-section-seven__container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 718px;
    padding-bottom: 70px;
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto
  }
  .wrapper-block-first {
    width: 732px;
    margin-left: auto;
    margin-bottom: 10px;
    height: 283px;
    display: flex;
  }
  .img-thinking-first {
    width: 340px;
    height: 212px;
    object-fit: cover;
  }
  .img-thinking-two {
    width: 344px;
    height: 282px;
    object-fit: cover;
  }
  .section-size-seven {
    width: 246px;
    height: 280px;
  }
  .title-size-section-seven {
    width: 167px;
    height: 92px;
    margin-bottom: 30px;
  }
  .inform-section-size-first {
    width: 210px;
    height: 136px;
  }
  .section-information {
    position: relative;
  }
  .informetion-title-size-first {
    width: 104px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: -136px;
  }
  .section-information__text-title {
    font-size: 11px;
    margin-bottom: 14px;
  }
  .section-information__text {
    font-size: 9px;
  }
  .wrapper-block-second {
    width: 800px;
    height: 282px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
  .align-self-one {
    align-self: flex-end;
    margin: 0;
    margin-bottom: 178px;
  }
  .align-self-two {
    align-self: flex-start;
    margin: 0;
  }
  .inform-word {
    line-height: 10px;
    font-size: 9px;
    padding: 0px 6px;
  }
  .hidden-word {
    margin-bottom: 2px;
  }
  .informetion-title-size-second {
    width: 80px;
    height: 72px;
    position: absolute;
    top: -1px;
    left: -136px;
  }
  .inform-section-size-second {
    width: 206px;
    height: 134px;
    position: absolute;
    bottom: 0px;
    right: 4px;
  }
  .section-size-eight {
    width: 338px;
    height: 168px;
    margin: 0;
  }
  .title-size-section-eight {
    width: 254px;
    height: 60px;
    margin-bottom: 34px;
  }
  .section-text-size-eight {
    width: 236px;
    height: 64px;
    margin-left: 48px;
  }
  .section-header {
    margin-left: 0;
  }
  .section-article {
    width: 262px;
    height: 118px;
    margin-top: 48px;
  }
  .title-margin {
    margin-bottom: 18px;
  }
  .title-margin::before {
    content: " ";
    display: block;
    background-color: $primary-black;
    width: 6px;
    height: 6px;
    position: absolute;
    top: -30px;
  }
  .wrapper-section-eight__container {
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }
  .computer-image {
    width: 350px;
    height: 262px;
    object-fit: contain;
  }
  .section-photo {
    width: 390px;
    height: 262px;
    object-fit: contain;
  }
  .wrapper-block {
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
