// Section 05
// section padding top & bottom
.section-05 {
  padding-top: 10px;
  padding-bottom: 26px;
  @media screen and (min-width: 480px) {
    padding-top: 14px;
    padding-bottom: 44px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 960px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 64px;
    padding-bottom: 64px;
    min-height: 487px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 76px;
    padding-bottom: 76px;
    min-height: 584px;
  }
}
// Heading for section
.slider__heading {
  max-width: 198px;
  margin: auto;
  text-align: center;
  @media screen and (min-width: 480px) {
    max-width: 297px;
  }
  @media screen and (min-width: 768px) {
    max-width: 172px;
    display: inline-block;
    vertical-align: top;
  }
  @media screen and (min-width: 960px) {
    max-width: 214px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 202px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 234px;
  }
  &-caption {
    margin: 0;
    padding-left: 26px;
    position: relative;
    text-transform: initial;
    letter-spacing: -0.1px;
    @include heading-style ($acrom-medium, 9px, 13px, #000, initial, left);
    @media screen and (min-width: 480px) {
      padding-left: 38px;
      @include font-text-13();
    }
    @media screen and (min-width: 768px) {
      padding-left: 44px;
      @include font-media (9,13.5);
    }
    @media screen and (min-width: 960px) {
      padding-left: 58px;
      @include font-media (11,16.5);
    }
    @media screen and (min-width: 1200px) {
      padding-left: 53px;
      @include font-media (10,15);
    }
    @media screen and (min-width: 1440px) {
      padding-left: 63px;
      @include font-media (12,18);
    }
    &::before {
      position: absolute;
      left: 0;
      top: 4px;
      content: '';
      display: inline-block;
      width: 13px;
      height: 1.5px;
      background-color: #000;
      @media screen and (min-width: 480px) {
        width: 19.5px;
        height: 2.3px;
        top: 8px;
      }
      @media screen and (min-width: 768px) {
        width: 28px;
        height: 3.3px;
        top: 4px;
      }
      @media screen and (min-width: 960px) {
        width: 35px;
        height: 4.1px;
        top: 4px;
      }
      @media screen and (min-width: 1200px) {
        width: 31px;
        height: 3.75px;
        top: 4px;
      }
      @media screen and (min-width: 1440px) {
        width: 37.5px;
        height: 4.5px;
        top: 4px;
      }
    }

    &--bgc {
      padding: 0 2px;
      color: $primary-color;
      background-color: #000;
    }
  }
  &-title {
    margin: 0;
    margin-bottom: 28px;
    max-width: 137px ;
    @include heading-style ($acrom-extrabold, 12px, 16px, #000, uppercase, left);
    @media screen and (min-width: 480px) {
      text-align: center;
      margin: auto;
      margin-bottom: 42px;
      max-width: 200px;
      @include font-media (18,24);
    }
    @media screen and (min-width: 768px) {
      max-width: 160px;
      margin: 0;
      margin-bottom: 36px;
      @include font-media (27, 33.5);
      text-align: left;
    }
    @media screen and (min-width: 960px) {
      max-width: 200px;
      margin-bottom: 44px;
      @include font-media (33.5, 42);
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      @include font-media (30, 37.5);
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 48px;
      @include font-media (36, 45);
    }
    &--bold {
      font-family: $acrom-bold;
    }
  }
}

.slider-box {
  position: relative;
  width: 196px;
  height: 142px;
  margin: auto;
  margin-top: 26px;
  @media screen and (min-width: 480px) {
    width: 293px;
    height: 212px;
    margin-top: 40px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 420px;
    height: 304px;
    margin: 0;
    margin-left: 48px;
  }
  @media screen and (min-width: 960px) {
    width: 526px;
    height: 380px;
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    width: 469px;
    height: 339px;
    margin-left: 41px;
  }
  @media screen and (min-width: 1440px) {
    width: 562.5px;
    height: 406.5px;
    margin-left: 59px;
  }
}

.slider-comment {
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
  width: 196px;
  height: 142px;
  @media screen and (min-width: 480px) {
    width: 293px;
    height: 212px;
  }
  @media screen and (min-width: 768px) {
    width: 420px;
    height: 304px;
  }
  @media screen and (min-width: 960px) {
    width: 526px;
    height: 380px;
  }
  @media screen and (min-width: 1200px) {
    width: 469px;
    height: 339px;
  }
  @media screen and (min-width: 1440px) {
    width: 562.5px;
    height: 406.5px;
  }
}

.slider-content {
  position: relative;
  width: 196px;
  height: 142px;
  margin: 0;
  @media screen and (min-width: 480px) {
    width: 293px;
    height: 212px;
  }
  @media screen and (min-width: 768px) {
    width: 420px;
    height: 304px;
  }
  @media screen and (min-width: 960px) {
    width: 526px;
    height: 380px;
  }
  @media screen and (min-width: 1200px) {
    width: 469px;
    height: 339px;
  }
  @media screen and (min-width: 1440px) {
    width: 562.5px;
    height: 406.5px;
  }
}

// Content for slider

.users-comment__data {
  display: inline-block;
  vertical-align: top;
  padding: 12px 12px 12px 8px;
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
}

.users-comment__image--box {
  width: 36px;
  height: 36px;
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
}

.users-comment__data--title {
  margin: 0;
  margin-top: 8px;
  max-width: 36px;
  font-size: 3.5px;
  font-family: $acrom-extrabold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 6.25px;
  text-align: left;
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
}

.scrolling-text {
  display: inline-block;
  padding: 12px 0 12px 8px;
  width: 128px;
  height: 142px;
  overflow-y: scroll;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    width: 6px;
    border: none;
    background: transparent;
  }
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    display: none;
  }
  &::-webkit-scrollbar-thumb:vertical {
    border-radius: 6px;
    background-color: #000;
    display: inline-block;
    width: 3px;
    height: 25px;
  }
  &::-webkit-scrollbar-track {
    background-image: url("https://i.imgur.com/GvV1R30.png");
    background-repeat: repeat-y;
    background-size: contain;
  }
}

.users-comment__card--text {
  margin: 0;
  font-size: 3.6px;
  font-family: $acrom-regular;
  color: rgb(63, 65, 68);
  line-height: 6.25px;
  text-align: left;
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
}

// slider control
.slider-control {
  &__number {}
  &__btn {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -12px;
    right: 0;
    display: inline-block;
    max-width: 24px;
    list-style: none;
    @media screen and (min-width: 480px) {

    }
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
  }
}

.prev,
.next {
  display: inline-block;
  width: 11px;
  height: 10px;
  font-size: 9px;
  text-align: center;
  color: $primary-color;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 166;
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
}

.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.5;
  >li {
    display: inline-block;
    margin-right: 14px;
    line-height: 0.5;
    @media screen and (min-width: 480px) {

    }
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  >li>button[type="button"] {
    margin: 0;
    padding: 0;
    line-height: 1;
    border: none;
    background-color: transparent;
    font-size: 2.6px;
    font-family: $acrom-extrabold;
    color: rgb(0, 0, 0);
    outline: none;
  }
}

.slick-active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -4px;
    display: inline-block;
    width: 10px;
    height: 0px;
    border-width: 0.5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: #000;
  }
  &>button[type="button"] {
    transform: scale(1.5);
  }
}
