
.wrapper-section19 {
  background-color: $primary-white-color;
}

.section19 {
  padding: 0 36px 26px;
  position: relative;

  @media (min-width: 480px) and (max-width: 767px) {
    padding: 0 54px 40px;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    padding: 0 62px 100px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    padding: 0 76px 100px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1200px) and (max-width: 1439px) {
    padding: 0 240px 100px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1440px) {
    padding: 0 290px 130px;
    display: flex;
    justify-content: space-between;
  }
}

.section19-move {
  width: 63%;
  padding-bottom: 26px;
  margin-left: 62px;
  display: inline-block;

  @media (min-width: 480px) and (max-width: 767px) {
    width: 58%;
    margin-left: 68px;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    padding-bottom: 0;
    width: 40%;
    margin-left: 0;
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    padding-bottom: 0;
    width: 40%;
    margin-left: 0;
  }
  @media (min-width: 1200px) and (max-width: 1439px) {
    padding-bottom: 0;
    width: 40%;
    margin-left: 0;
  }
  @media (min-width: 1440px) {
    padding-bottom: 0;
    width: 40%;
    margin-left: 0;
  }

  &::before {
    content: "go";
    display: inline-block;
    @include font(#f7f7f7, $acrom-extrabold, 70px, 700, 0, uppercase);
    transform: rotate(90deg);
    position: absolute;
    top: 12%;
    left: 2%;

    @media (min-width: 480px) and (max-width: 767px) {
      font-size: 86px;
      top: 14%;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      font-size: 156px;
      top: 38%;
      left: 25%;
    }
    @media (min-width: 960px) and (max-width: 1199px) {
      font-size: 180px;
      top: 38%;
      left: 25%;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      font-size: 180px;
      top: 38%;
      left: 31%;
    }
    @media (min-width: 1440px) {
      font-size: 190px;
      top: 34%;
      left: 33%;
    }
  }
}

.section19-move__title {
  @include font($selected-text-black,$acrom-extrabold,12px,700,normal,uppercase);
  @include center(auto, auto, left);
  margin-top: 0;

  @media (min-width: 480px) and (max-width: 767px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    font-size: 27px;
    z-index: 1;
    position: relative;
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    font-size: 34px;
    z-index: 1;
    position: relative;
  }
  @media (min-width: 1200px) and (max-width: 1439px) {
    font-size: 30px;
    z-index: 1;
    position: relative;
  }
  @media (min-width: 1440px) {
    font-size: 36px;
    z-index: 1;
    position: relative;
  }
}

.section19-move__text {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  @include font($selected-text-black, $acrom-bold, 10px, 700, normal, none);
  margin-bottom: 20px;
  text-align: right;

  @media (min-width: 480px) and (max-width: 767px) {
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    font-size: 10px;
    width: 69%;
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    font-size: 12px;
    width: 64%;
  }
  @media (min-width: 1200px) and (max-width: 1439px) {
    font-size: 10px;
    width: 69%;
  }
  @media (min-width: 1440px) {
    font-size: 12px;
    width: 69%;
  }
  
  &::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 2px;
    background-color: #000000;
    margin-right: 8px;
    vertical-align: middle;

    @media (min-width: 480px) and (max-width: 767px) {
      
    }
    @media (min-width: 768px) and (max-width: 959px) {
      width: 28px;
      height: 3px;
    }
    @media (min-width: 960px) and (max-width: 1199px) {
      width: 28px;
      height: 3px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      width: 28px;
      height: 3px;
    }
    @media (min-width: 1440px) {
      width: 28px;
      height: 3px;
    }
  }
}

.section19-move__button {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 28px;
  box-shadow: 0 3px 4px rgba(196, 87, 15, 0.26);
  background-color: $color-button;
  @include font($primary-white-color,$acrom-extrabold,6px,400,9.73px,uppercase);
  letter-spacing: 1.2px;

  @media (min-width: 480px) and (max-width: 767px) {
    font-size: 10px;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    font-size: 8px;
    width: 66%;
    display: inline-block;
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    font-size: 8px;
    display: inline-block;
    width: 56%;
    margin-left: 39px;
    
  }
  @media (min-width: 1200px) and (max-width: 1439px) {
    font-size: 8px;
    display: inline-block;
    width: 56%;
    margin-left: 39px;
  }
  @media (min-width: 1440px) {
    font-size: 8px;
    display: inline-block;
    width: 56%;
    margin-left: 39px;
  }

  &:hover {
    box-shadow: 0 3px 4px rgba(23, 236, 255, 0.26);
    background-color: $color-hover-button;
  }

  &:active {
    box-shadow: 0 3px 4px rgba(23, 236, 255, 0.26);
    background-color: $color-clic-button;
  }
}

.section19-postscript {
  width: 85%;
  margin: auto;

  @media (min-width: 480px) and (max-width: 767px) {
    width: 82%;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    position: relative;
    width: 40%;
    margin: 0;
  }
  @media (min-width: 960px) and (max-width: 1199px) {
    position: relative;
    width: 37%;
    margin: 0;
  }
  @media (min-width: 1200px) and (max-width: 1439px) {
    position: relative;
    width: 37%;
    margin: 0;
  }
  @media (min-width: 1440px) {
    position: relative;
    width: 37%;
    margin: 0;
  }
}

.section19-postscript__text {
  margin-top: 0;

    &--short {
    @include font($selected-text-black, $acrom-bold, 10px, 700, 25px, none);

    @media (min-width: 480px) and (max-width: 767px) {
      font-size: 16px;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      font-size: 10px;
      font-size: 18px;
      position: absolute;
      top: 0;
      left: -21%;
      line-height: 20px;
    }
    @media (min-width: 960px) and (max-width: 1199px) {
      font-size: 14px;
      font-size: 18px;
      position: absolute;
      top: 0;
      left: -21%;
      line-height: 20px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      font-size: 12px;
      font-size: 18px;
      position: absolute;
      top: 0;
      left: -21%;
      line-height: 20px;
    }
    @media (min-width: 1440px) {
      font-size: 14px;
      font-size: 18px;
      position: absolute;
      top: 0;
      left: -21%;
      line-height: 20px;
    }
    }

    &--bold {
    @include font($selected-text-black, $acrom-regular, 9px, 700,normal, none);

    @media (min-width: 480px) and (max-width: 767px) {
      font-size: 14px;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      font-size: 9px;
    }
    @media (min-width: 960px) and (max-width: 1199px) {
      font-size: 12px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      font-size: 10px;
    }
    @media (min-width: 1440px) {
      font-size: 12px;
    }
    }

    &--normal {
    @include font(#3f4144, $acrom-regular, 8px, 400, normal, none);

    @media (min-width: 480px) and (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 20px;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      font-size: 8px;
    }
    @media (min-width: 960px) and (max-width: 1199px) {
      font-size: 10px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      font-size: 9px;
    }
    @media (min-width: 1440px) {
      font-size: 11px;
    }
    }

    &--choice {
    @include font($selected-text-orange,$acrom-regular,10px,500,14.37px,none);
    display: block;
    text-align: right;

    @media (min-width: 480px) and (max-width: 767px) {
      font-size: 14px;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      font-size: 11px;
    }
    @media (min-width: 960px) and (max-width: 1199px) {
      font-size: 11px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      font-size: 11px;
    }
    @media (min-width: 1440px) {
      font-size: 12px;
    }
    }
}


