.container {
  background-color: darkgray;
}
.description__title {
  font-size: 12px;
  font-family: "Acrom";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  margin-bottom: 10px;
  @include mq("phone-wide") {
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.description__subtitle{
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(0, 0, 0);
  line-height: 1.444;
  text-align: left;
  padding-left: 30px;
  position: relative;
  @include mq("phone-wide") {
    font-size: 13.5px;
  }
  
}
.description__subtitle::before {
  @include pseudo;
  background-color: rgb(0, 0, 0);
  width: 14px;
  height: 3px;
  top: 4px;
  left: 4px;
}
.description__header {
  max-width: 180px;
  margin: 0 auto 22px;
  @include mq("phone-wide") {
    max-width: 276px;
    margin: 0 auto 34px;
  }
}
.description__meta {
  width: 200px;
  margin: 18px auto 24px;
  @include mq("phone-wide") {
    width: 306px;
    margin: 30px auto 40px;
  }
}
.description__img {
  width: 298px;
  height: 112px;
  margin: auto;
  display: block;
  @include mq("phone-wide") {
    width: 446px;
    height: 168px;
  }
}
.description__paragraph:first-child {
  margin-bottom: 18px;
}
.description__paragraph-title {
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: left;
  margin-bottom: 8px;
  display: inline-block;
  @include mq("phone-wide") {
    font-size: 13.5px;
  }
}

.description__paragraph-text {
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(63, 65, 68);
  line-height: 1.444;
  text-align: left;
  @include mq("phone-wide") {
    font-size: 13.5px;
  }
}
.description__list {
  width: 200px;
  margin: 0 auto 40px;
  padding-left: 18px;
}
.description__item {
  position: relative;
  margin-bottom: 18px;
}
.description__item::before {
  @include pseudo;
  background-color: rgb(255, 107, 8);
  position: absolute;
  left: -16px;
  top: 4px;
  width: 7px;
  height: 34px;
}
.description__item::after {
  @include pseudo;
  left: -28px;
  top: 14px;
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.444;
  text-align: left;
  content: "[ 001 ]";
  transform: rotate(90deg);
}

.description__list-title {
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: center;
  width: 240px;
  margin: 0 auto 16px;
}

.description__item-title {
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.444;
  text-align: left;
}
.description__price-title span {
  display: inline-block;
  font-size: 11.31px;
  font-family: "Acrom";
  color: rgb(0, 0, 0);
  line-height: 1.714;
  text-align: left;
  background-color: rgb(22, 235, 254);
}
.description__price-title span:first-child {
  margin-bottom: 6px;
}

.description__item-text {
  font-size: 9px;
  font-family: "Acrom";
  color: rgb(63, 65, 68);
  line-height: 1.444;
  text-align: left;
}

.description__old-price {
  display: inline-block;
  font-size: 11.31px;
  font-family: "Acrom";
  color: rgb(60, 59, 64);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29.08px;
  text-align: left;
  text-decoration: line-through;
}

.description__sale-price {
  display: inline-block;
  font-size: 21.24px;
  font-family: "Acrom";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29.08px;
  text-align: left;
}
.description__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 200px;
}
