// Main - Section-02
// Section background
.earn {
  position: relative;
  &::after {
    position: absolute;
    left: -50px;
    top: 200px;
    content: 'you';
    text-transform: uppercase;
    transform: rotate(90deg);
    z-index: -2;
    font-size: 70px;
    line-height: 1;
    font-family: $acrom-extrabold;
    color: rgba(0, 0, 0, 0.051);
    @media screen and (min-width: 480px) {
      font-size: 100px;
      top: 300px;
      left: -70px;
    }
    @media screen and (min-width: 768px) {
      top: 310px;
      font-size: 140px;
      left: -95px;
    }
    @media screen and (min-width: 960px) {
      padding-bottom: 42px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1440px) {
      padding-bottom: 72px;
    }
  }
  &::before {
    position: absolute;
    left: 0px;
    top: 66px;
    width: 296px;
    height: 88px;
    content: '';
    background-image: url('../img/section-03.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    z-index: 0;
    line-height: 1;
    @media screen and (min-width: 480px) {
      top: 98px;
      width: 445.5px;
      height: 132px;
      background-position: 60% 50%;
    }
    @media screen and (min-width: 768px) {
      top: 0;
      width: 257px;
      height: 240px;
      background-position: 60% 50%;
    }
    @media screen and (min-width: 960px) {
      padding-bottom: 42px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1440px) {
      padding-bottom: 72px;
    }
  }
}

// section padding top & bottom
.section-02 {
  padding-bottom: 28px;
    // Media for .section-02
    @media screen and (min-width: 480px) {
      padding-bottom: 28px;
    }
    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
    }
    @media screen and (min-width: 960px) {
      padding-bottom: 42px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1440px) {
      padding-bottom: 72px;
    }
}
// Box position on tablet -> desktop
.earn__block--first {
  @media screen and (min-width: 768px) {
    margin-left: 328px;
  }
  @media screen and (min-width: 960px) {
    margin-left: 410px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 366px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 440px;
  }

}
.earn__block--second {
  margin-top: 30px;
  @media screen and (min-width: 480px) {
    margin-top: 46px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 68px;
  }
  @media screen and (min-width: 960px) {
    margin-top: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 74px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 90px;
  }
}

// Heading for section
.earn__heading {
  max-width: 200px;
  margin: auto;
  text-align: center;

  // Media for .earn__heading-caption
  @media screen and (min-width: 480px) {
    max-width: 297px;
  }
  @media screen and (min-width: 768px) {
    max-width: 228px;
    text-align: left;
    margin: 0;
  }
  @media screen and (min-width: 960px) {
    max-width: 280px;
    text-align: left;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 252px;
    text-align: left;
    margin: 0;
  }
  @media screen and (min-width: 1440px) {
    max-width: 300px;
    text-align: left;
    margin: 0;
  }

  &-caption {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 28px;
    position: relative;
    @include heading-style ($acrom-extrabold, 10px, 11px, #000, uppercase, left);
    // Media for .earn__heading-caption
    @media screen and (min-width: 480px) {
      @include font-media(14.5, 16.5);
      padding-left: 42px;
    }
    @media screen and (min-width: 768px) {
      @include font-media(10, 17);
      padding-left: 44px;
      max-width: 158px;
    }
    @media screen and (min-width: 960px) {
      @include font-media(12.5, 21);
      padding-left: 56px;
      max-width: 192px;
    }
    @media screen and (min-width: 1200px) {
      @include font-media(11.2, 18.7);
      padding-left: 50px;
      max-width: 174px;
    }
    @media screen and (min-width: 1440px) {
      @include font-media(13.5, 22.5);
      padding-left: 62px;
      max-width: 208px;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 4px;
      content: '';
      display: inline-block;
      width: 16px;
      height: 2px;
      background-color: #000;
      @media screen and (min-width: 480px) {
        width: 24px;
        height: 3px;
      }
      @media screen and (min-width: 768px) {
        width: 28px;
        height: 3px;
        top: 6px;
      }
      @media screen and (min-width: 960px) {
        width: 35px;
        height: 3.9px;
        top: 6px;
      }
      @media screen and (min-width: 1200px) {
        width: 31.2px;
        height: 3.5px;
        top: 6px;
      }
      @media screen and (min-width: 1440px) {
        width: 37.5px;
        height: 4.17px;
        top: 6px;
      }
    }

  }
  &-title {
    margin: 0;
    @include heading-style ($acrom-extrabold, 14px, 16px, #000, uppercase, left);
    // Media for .earn__heading-title
    @media screen and (min-width: 480px) {
      @include font-media(20.5, 25.5);
    }
    @media screen and (min-width: 768px) {
      @include font-media(27, 35);
    }
    @media screen and (min-width: 960px) {
      @include font-media(33.5, 42);
    }
    @media screen and (min-width: 1200px) {
      @include font-media(30, 37.5);
    }
    @media screen and (min-width: 1440px) {
      @include font-media(36, 45);
    }
    &--bold {
      font-family: $acrom-bold;
    }
    &--bgc {
      padding: 0 3px;
      background-color: rgb(0, 0, 0);
      color: $primary-color;
      text-align: center;
      line-height: 1;
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }

  }
}

// all item in section -->
.earn__subject {
  margin: 0;
  margin-bottom: 134px;
  font-size: 9px;
  font-family: $acrom-medium;
  color: rgb(0, 0, 0);
  line-height: 13px;

  @media screen and (min-width: 480px) {
    @include font-media(13.5, 19.5);
    margin-bottom: 202px;
    max-width: 428px;
  }
  @media screen and (min-width: 768px) {
    @include font-media(9, 13.5);
    margin-bottom: 38px;
    max-width: 208px;
  }
  @media screen and (min-width: 960px) {
    @include font-media(11.5, 17);
    margin-bottom: 46px;
    max-width: 254px;
  }
  @media screen and (min-width: 1200px) {
    @include font-media(10, 15);
    margin-bottom: 42px;
    max-width: 228px;
  }
  @media screen and (min-width: 1440px) {
    @include font-media(12, 18);
    margin-bottom: 50px;
    max-width: 272px;
  }
}

// section earn list
.earn__list-title {
  margin: 0;
  font-size: 9px;
  font-family: $acrom-extrabold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 13px;
  @media screen and (min-width: 480px) {
    @include font-media(13.5,19.5);
  }
  @media screen and (min-width: 768px) {
    @include font-media(17,20);
  }
  @media screen and (min-width: 960px) {
    @include font-media(21,25);
  }
  @media screen and (min-width: 1200px) {
    @include font-media(18.7,22.5);
    flex: 0 0 176px;
  }
  @media screen and (min-width: 1440px) {
    @include font-media(22.5,27);
    flex: 0 0 220px;
  }
}

.earn__list {
  margin-top: 14px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 480px) {
    margin-top: 23px;
    margin-bottom: 44px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 960px) {
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 0;
    flex: 0 0 536px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex: 0 0 636px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.earn__list-item {
  margin-bottom: 14px;
  padding-left: 24px;
  max-width: 268px;
  position: relative;
  &::before {
    position: absolute;
    left: 10px;
    top: 4px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    background: #000;
    @media screen and (min-width: 480px) {
      width: 8px;
      height: 8px;
      left: 18px;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 24px;
    padding-left: 36px;
    max-width: 420px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    padding-left: 0;
    flex: 0 0 22%;
    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 960px) {
    margin-bottom: 24px;
    max-width: 420px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 22px;
    padding-right: 16px;
    flex: 0 0 178px;
    &:nth-child(6){ order:2 }
    &:nth-child(4){ order:3 }
    &:nth-child(5){ order:4 }
    &:nth-child(3){ order:5 }
    &:nth-child(8){ order:6 }
    &:nth-child(2){ order:7 }
    &:nth-child(7){ order:8 }
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 24px;
    max-width: 197px;
  }

}

.earn__list-text {
  margin: 0;
  font-size: 9px;
  font-family: $acrom-regular;
  color: rgb(0, 0, 0);
  line-height: 13px;
  letter-spacing: -0.1px;
  &--bold {
    font-family: $acrom-bold;
    letter-spacing: 0px;
    @media screen and (min-width: 768px) {
      @include font-media(9,13.5);
    }
    @media screen and (min-width: 960px) {
      @include font-media(11,16.5);
    }
    @media screen and (min-width: 1200px) {
      @include font-media(10,15);
    }
    @media screen and (min-width: 1440px) {
      @include font-media(12,18);
    }
  }
  @media screen and (min-width: 480px) {
    @include font-media(13.5,19.5);

  }
  @media screen and (min-width: 768px) {
    @include font-media(8,13.5);
  }
  @media screen and (min-width: 960px) {
    @include font-media(10,16.5);
  }
  @media screen and (min-width: 1200px) {
    @include font-media(8.5,15);
  }
  @media screen and (min-width: 1440px) {
    @include font-media(10.5,18);
  }
}

.earn__lead {
  max-width: 196px;
  margin: 0;
  margin: auto;
  font-size: 9px;
  font-family: $acrom-medium;
  color: rgb(255, 107, 8);
  line-height: 13px;
  text-align: center;
  @media screen and (min-width: 480px) {
    @include font-media(13.5,19.5);
    max-width: 296px;
  }
  @media screen and (min-width: 768px) {
    @include font-media(9.5,13.5);
    max-width: 202px;
    text-align: left;
    margin-right: 0;
  }
  @media screen and (min-width: 960px) {
    @include font-media(12,17);
    max-width: 254px;
    text-align: left;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    right: 0;
    bottom: 70px;
    @include font-media(10,15);
    max-width: 148px;
    text-align: left;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 70px;
    @include font-media(12,18);
    max-width: 178px;
  }
}
