.section {
  @include mq("tablet") {
    padding: 48px 64px;
  }
  @include mq("tablet-wide") {
    padding: 54px 80px;
  }
  @include mq("desktop") {
    padding: 62px 234px;
  }
  @include mq("desktop-wide") {
    padding: 76px 282px;
  }
}

.description__course {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("tablet") {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 50px;
  }
  @include mq("tablet-wide") {
    margin-bottom: 64px;
  }
}

.description__title {
  font-size: 12px;
  font-family: $acrom-extrabold;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  @include mq("phone-wide") {
    font-size: 18px;
    margin-bottom: 24px;
  }
  @include mq("tablet") {
    font-size: 26.92px;
    line-height: 1.25;
    text-align: left;
  }
  @include mq("tablet-wide") {
    font-size: 33.65px;
    margin-bottom: 26px;
  }
  @include mq("desktop") {
    font-size: 30px;
  }
  @include mq("desktop-wide") {
    font-size: 36px;
    margin-bottom: 28px;
  }
}

.description__subtitle {
  font-size: 9px;
  font-family: $acrom-medium;
  color: rgb(0, 0, 0);
  line-height: 1.444;
  text-align: left;
  padding-left: 30px;
  position: relative;

  &::before {
    @include pseudo;
    background-color: rgb(0, 0, 0);
    width: 14px;
    height: 3px;
    top: 4px;
    left: 4px;
    @include mq("phone-wide") {
      width: 20px;
    }
    @include mq("tablet") {
      width: 30px;
      height: 4px;
    }
    @include mq("tablet-wide") {
      width: 36px;
    }
    @include mq("desktop") {
      width: 32px;
    }
    @include mq("desktop-wide") {
      width: 38px;
      height: 6px;
    }
  }
  @include mq("phone-wide") {
    font-size: 13.5px;
    padding-left: 40px;
  }
  @include mq("tablet") {
    font-size: 8.97px;
    line-height: 13.46px;
    padding-left: 50px;
  }
  @include mq("tablet-wide") {
    font-size: 11.22px;
    margin-bottom: 46px;
    padding-left: 78px;
  }
  @include mq("desktop") {
    font-size: 10px;
    margin-bottom: 40px;
    padding-left: 74px;
  }
  @include mq("desktop-wide") {
    font-size: 12px;
    margin-bottom: 50px;
    padding-left: 88px;
  }
}

.description__header {
  max-width: 196px;
  margin-bottom: 22px;
  @include mq("phone-wide") {
    max-width: 292px;
    margin-bottom: 34px;
  }
  @include mq("tablet") {
    order: 2;
    flex: 0 0 218px;
    margin-bottom: 0;
    transform: translate(-10%, -25%);
  }
  @include mq("tablet-wide") {
    flex: 0 0 276px;
    transform: translate(-25%, -10%);
  }
}

.description__meta {
  max-width: 206px;
  margin-top: 30px;
  margin-bottom: 24px;
  @include mq("phone-wide") {
    max-width: 306px;
    margin-bottom: 40px;
  }
  @include mq("tablet") {
    order: 3;
    flex: 0 0 312px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @include mq("tablet-wide") {
    flex: 0 0 392px;
  }
}

.description__img-pc {
  width: 298px;
  height: 112px;
  object-fit: cover;
  display: block;
  @include mq("phone-wide") {
    width: 446px;
    height: 168px;
  }
  @include mq("tablet") {
    width: 274px;
    height: 170px;
    margin-bottom: 50px;
  }
  @include mq("tablet-wide") {
    width: 344px;
    height: 212px;
    margin-bottom: 64px;
  }
}

.description__img-guy {
  display: none;
  @include mq("tablet") {
    display: block;
    width: 226px;
    height: 203px;
    order: 4;
  }
  @include mq("tablet-wide") {
    width: 282px;
    height: 256px;
    margin-right: 68px;
  }  
  @include mq("desktop") {
    margin-right: 62px;
  }
  @include mq("desktop-wide") {
    margin-right: 72px;
  }
}

.description__paragraph {
  @include mq("tablet") {
    display: flex;
    justify-content: space-between;
  }
}

.description__paragraph:first-child {
  margin-bottom: 18px;
  @include mq("phone-wide") {
    margin-bottom: 26px;
  }
}

.description__paragraph-title {
  font-size: 9px;
  font-family: $acrom-extrabold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
  display: inline-block;
  line-height: 1.444;

  > span {
    background-color: rgb(0, 0, 0);
  }
  @include mq("phone-wide") {
    font-size: 13.5px;
    margin-bottom: 14px;
  }
  @include mq("tablet") {
    font-size: 8.97px;
    line-height: 1.625;
    flex: 0 0 104px;
    margin-bottom: 0;
  }
  @include mq("tablet-wide") {
    font-size: 11.22px;
    flex: 0 0 124px;
  }
  @include mq("desktop") {
    font-size: 10px;
  }
  @include mq("desktop-wide") {
    font-size: 12px;
  }
}

.description__paragraph-text {
  font-size: 9px;
  font-family: $acrom-regular;
  color: rgb(63, 65, 68);
  line-height: 1.444;
  text-align: left;
  @include mq("phone-wide") {
    font-size: 13.5px;
  }
  @include mq("tablet") {
    font-size: 7.85px;
    line-height: 1.5;
    flex: 0 0 160px;
  }
  @include mq("tablet-wide") {
    font-size: 9.81px;
    flex: 0 0 200px;
  }
  @include mq("desktop") {
    font-size: 8.75px;
  }
  @include mq("desktop-wide") {
    font-size: 10.5px;
  }
}

.description__course-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("tablet") {
    max-width: 636px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
  }
  @include mq("tablet-wide") {
    max-width: 800px;
  }
  @include mq("desktop") {
    max-width: 712px;
  }
  @include mq("desktop-wide") {
    max-width: 856px;
  }
}

.description__list {
  max-width: 196px;
  margin: 0;
  margin-bottom: 40px;
  counter-reset: list--16;
  @include mq("phone-wide") {
    max-width: 294px;
  }
  @include mq("tablet") {
    display: flex;
    flex-wrap: wrap;
    max-width: 474px;
    margin-bottom: 0px;
  }
  @include mq("tablet-wide") {
    max-width: 600px;
    flex: 0 0 567px;
  }
  @include mq("desktop") {
    flex: 0 0 530px;
  }
  @include mq("desktop-wide") {
    flex: 0 0 640px;
    
  }
}

.description__item {
  position: relative;
  margin-bottom: 18px;

  &:nth-child(-n + 2) {
    margin-right: 42px;
    @include mq("tablet-wide") {
      margin-right: 40px;
    }
    @include mq("desktop-wide") {
      margin-right: 70px;
    }
  }

  &:nth-child(4) {
    margin-right: 40px;
    @include mq("desktop-wide") {
      margin-right: 70px;
    }
  }

  &::before {
    @include pseudo;
    width: 7px;
    height: 34px;
    left: -15px;
    top: 8px;
    font-size: 9px;
    font-family: $acrom-bold;
    background-color: rgb(255, 107, 8);
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.444;
    text-align: center;
    counter-increment: list--16;
    content: "[00" counter(list--16) "]";
    white-space: nowrap;
    overflow: hidden;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    @include mq("tablet-wide") {
      left: -20px;
      width: 12px;
      height: 38px;
    }
  }
  @include mq("tablet") {
    flex: 0 0 130px;
  }
  @include mq("tablet-wide") {
    flex: 0 0 144px;
  }
}

.description__list-title {
  font-size: 9px;
  font-family: $acrom-extrabold;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: center;
  max-width: 246px;
  margin: 0;
  margin-bottom: 16px;
  @include mq("phone-wide") {
    max-width: 370px;
    font-size: 13.5px;
    margin-bottom: 30px;
  }
  @include mq("tablet") {
    font-size: 8.97px;
    line-height: 1.625;
    flex: 0 0 112px;
    text-align: left;
  }
  @include mq("tablet-wide") {
    flex: 0 0 128px;
    font-size: 11.22px;
    line-height: 1.625;
  }  
  @include mq("desktop") {
    font-size: 10px;
    flex: 0 0 114px;
  }
  @include mq("desktop-wide") {
    font-size: 12px;
    flex: 0 0 134px;
  }
}

.description__item-title {
  font-size: 9px;
  font-family: $acrom-bold;
  color: rgb(0, 0, 0);
  line-height: 1.444;
  text-align: left;
  @include mq("phone-wide") {
    font-size: 13.5px;
    margin-bottom: 8px;
  }
  @include mq("tablet") {
    font-size: 8.97px;
    line-height: 1.313; 
  }
  @include mq("tablet-wide") {
    font-size: 11.22px;
  }  
  @include mq("desktop") {
    font-size: 10px;
  }
  @include mq("desktop-wide") {
    font-size: 12px;
  }
}

.description__item-text {
  font-size: 9px;
  font-family: $acrom-regular;
  color: rgb(63, 65, 68);
  line-height: 1.444;
  text-align: left;
  @include mq("phone-wide") {
    font-size: 13.5px;
  }
  @include mq("tablet") {
    font-size: 7.85px;
    line-height: 1.5;
  }
  @include mq("tablet-wide") {
    font-size: 9.81px;
  }
  @include mq("desktop") {
    font-size: 8.75px;
    line-height: 1.313; 
  }
  @include mq("desktop-wide") {
    font-size: 10.5px;
  }
}

.description__old-price {
  display: inline-block;
  font-size: 11.31px;
  font-family: $acrom-medium;
  color: rgb(60, 59, 64);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29.08px;
  text-align: left;
  text-decoration: line-through;
  @include mq("phone-wide") {
    font-size: 16.97px;
  }
  @include mq("tablet") {
    font-size: 7.85px;
    line-height: 2.571;
  }
  @include mq("tablet-wide") {
    font-size: 9.81px;
  }
  @include mq("desktop") {
    font-size: 8.75px;
  }
  @include mq("desktop-wide") {
    font-size: 10.5px;
  }
}

.description__sale-price {
  display: inline-block;
  font-size: 19.5px;
  font-family: $acrom-medium;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  @include mq("phone-wide") {
    font-size: 28.24px;
    line-height: 43.63px;
  }
  @include mq("tablet") {
    font-size: 13.04px;
    line-height: 20.19px;
  }
  @include mq("tablet-wide") {
    font-size: 13.04px;
    line-height: 25.24px;
  }  
}

.description__price-marked {
  display: inline-block;
  font-size: 11.31px;
  margin: 0;
  font-family: $acrom-medium;
  color: rgb(0, 0, 0);
  line-height: 1.714;
  text-align: left;
  
  @include mq("phone-wide") {
    font-size: 16.97px;
  }
  @include mq("tablet") {
    max-width: 80px;
    font-size: 7.85px;
    margin-right: 12px;
  }
  @include mq("tablet-wide") {
    font-size: 9.81px;
    max-width: 90px;
    margin-right: 14px;
  }
  @include mq("desktop") {
    font-size: 8.75px;
    max-width: 110px;
  }
  @include mq("desktop-wide") {
    font-size: 10.5px;
  }
}

.description__price-marked mark{
  background-color: rgb(22, 235, 254);
}

.description__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 196px;
  @include mq("phone-wide") {
    max-width: 294px;
  }
  @include mq("tablet") {
    max-width: 164px;
    position: absolute;
    bottom: 40px;
    right: 64px;
    transform: translate(50%, 50%);
  }
  @include mq("tablet-wide") {
    right: 80px;
    max-width: 204px;
  }  
}
