@mixin font-media ($font-size-media, $line-height-media) {
  font-size: $font-size-media+px;
  line-height: $line-height-media+px;
}

.main {
  max-width: 320px;
  margin: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 960px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}
// Main - Section-02
// Section background
.earn {
  background-image: url('../img/YOU.png');
  background-repeat: no-repeat;
  background-position: 5px 162px;
  background-size: 52px;
}

// section padding top & bottom
.section-02 {
  padding-bottom: 28px;
    // Media for .section-02
    @media screen and (min-width: 480px) {
      padding-bottom: 28px;
    }
    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
    }
    @media screen and (min-width: 960px) {
      padding-bottom: 42px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1440px) {
      padding-bottom: 72px;
    }
}

// Heading for section
.earn__heading {
  max-width: 200px;
  margin: auto;
  text-align: center;

  // Media for .earn__heading-caption
  @media screen and (min-width: 480px) {
    max-width: 297px;
  }

  &-caption {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 28px;
    position: relative;
    @include heading-style ($acrom-extrabold, 10px, 11px, #000, uppercase, left);
    &::before {
      position: absolute;
      left: 0;
      top: 4px;
      content: '';
      display: inline-block;
      width: 16px;
      height: 2px;
      background-color: #000;
    }
    // Media for .earn__heading-caption
    @media screen and (min-width: 480px) {
      @include font-media(14.5, 16.5);
    }
  }
  &-title {
    margin: 0;
    @include heading-style ($acrom-extrabold, 14px, 16px, #000, uppercase, left);

    &--bold {
      font-family: $acrom-bold;
    }
    &--bgc {
      display: inline-block;
      padding: 0 3px;
      background-color: rgb(0, 0, 0);
      color: $primary-color;
      text-align: center;
    }
    // Media for .earn__heading-title
    @media screen and (min-width: 480px) {
      @include font-media(20.5, 25.5);
    }
  }
}

// all item in section -->
.earn__subject {
  margin: 0;
  margin-bottom: 18px;
  font-size: 9px;
  font-family: $acrom-medium;
  color: rgb(0, 0, 0);
  line-height: 13px;

  @media screen and (min-width: 480px) {
    @include font-media(13.5, 19.5);
    margin-bottom: 24px;
    max-width: 428px;
  }
}

.earn__image-box {
  margin-bottom: 28px;
  max-height: 88px;
  overflow: hidden;
  object-fit: contain;
  @media screen and (min-width: 480px) {
    max-height: 132px;
  }

}

.earn__image {
  transform: translateY(-50px);
  @media screen and (min-width: 480px) {
    transform: translateY(-64px) scale(1);
  }
}

// section earn list
.earn__list-title {
  margin: 0;
  margin-top: 30px;
  font-size: 9px;
  font-family: $acrom-extrabold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 13px;
  @media screen and (min-width: 480px) {

  }
}

.earn__list {
  margin-top: 14px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.earn__list-item {
  margin-bottom: 14px;
  padding-left: 24px;
  max-width: 268px;
  position: relative;
  &::before {
    position: absolute;
    left: 10px;
    top: 4px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    background: #000;
  }
}

.earn__list-text {
  margin: 0;
  font-size: 9px;
  font-family: $acrom-regular;
  color: rgb(0, 0, 0);
  line-height: 13px;
  letter-spacing: -0.1px;
  &--bold {
    font-family: $acrom-bold;
    letter-spacing: 0px;
  }
}

.earn__lead {
  max-width: 196px;
  margin: 0;
  margin: auto;
  font-size: 9px;
  font-family: $acrom-medium;
  color: rgb(255, 107, 8);
  line-height: 13px;
  text-align: center;
}
