*{
  margin: 0;
  padding: 0;
}

.section-12{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}

.section-12__header{
  padding-bottom: 28px;
  padding-top: 14px;
  width: 100%;
}

.section-12__title{
  font-family: "Acrom-ExtraBold",serif;
  font-size: 14px;
  margin-bottom: 14px;
}

.section-12__text{
  position: relative;
  text-align: left;
  font-family: "Acrom-Medium",serif;
  font-size: 9px;
  padding-left: 32px;
  line-height: 14px;


  &::before{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 4px;
    background-color: black;
    top: 6px;
    left: 6px;
  }
}

.section-12__text--bgaqua{
  background-color: #16ebfe;
}

.section-12__image{
  width: 194px;
  height: 172px;
  margin-bottom: 24px;
  object-fit: cover;
  display: block;
}

.section-12__list{
  list-style: none;
  width: 100%;
  padding-left: 12px;
  text-align: left;
  padding-bottom: 20px;
}

.section-12__item{
  width: 100%;
  position: relative;

  &:not(:last-child){
    margin-bottom: 18px;
  }

  &:before{
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: black;
    top: 4px;
    left: -12px;;
  }
}

.section-12__list-title{
  font-family: "Acrom-ExtraBold",serif;
  font-size: 9px;
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: -0.2px;


  &--spacing{
    letter-spacing: -1px;
  }
}

.section-12__list-text{
  font-family: "Acrom-Medium",serif;
  font-size: 9px;
}
// ------------------------------------------480

@media (min-width:480px){
  .section-12__header{
    padding-bottom: 40px;
    padding-top: 20px;
    width: 100%
  }

  .section-12__title{
    font-size: 22px;
    margin-bottom: 24px;
  }

  .section-12__text{
    font-size: 13.5px;
    padding-left: 48px;
    line-height: 22px;

    &::before{
      top: 6px;
      left: 8px;
    }
  }

  .section-12__image{
    width: 293px;
    height: 259px;
    margin-bottom: 38px;
  }

  .section-12__list{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 32px;
  }

  .section-12__item{
    &:not(:last-child){
      margin-bottom: 28px;
    }

    &:before{
      width: 6px;
      height: 6px;
      top: 6px;
      left: -16px;;
    }
  }

  .section-12__list-title{
    font-size: 13.5px;
    margin-bottom: 6px;
  }

  .section-12__list-text{
    font-size: 13.5px;
  }
}

// ------------------------------------------768
@media (min-width:768px){
  .section-12{
    height: 330px;
    align-items: flex-start;
    flex-wrap: wrap
  }

  .section-12__header{
    padding-bottom: 26px;
    padding-top: 0;
    width: 236px;
  }

  .section-12__title{
    font-size: 26.92px;
    margin-bottom: 18px;
    text-align: left;

    &--none{
      color: white;
    }
  }

  .section-12__text{
    font-size: 9px;
    padding-left: 47px;
    line-height: 15px;

    &::before{
      top: 6px;
      left: 8px;
      width: 24px
    }
  }

  .section-12__image{
    order: -1;
    width: 310px;
    height: 330px;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .section-12__list{
    width: 230px;
    padding-left: 22px;
    padding-bottom: 0px;
  }

  .section-12__item{
    &:not(:last-child){
      margin-bottom: 24px;
    }

    &:before{
      width: 6px;
      height: 6px;
      top: 6px;
      left: -16px;;
    }
  }

  .section-12__list-title{
    font-size: 9px;
    margin-bottom: 6px;
  }

  .section-12__list-text{
    font-size: 8px;
  }
}

// ------------------------------------------960
@media (min-width:960px){
  .section-12{
    height: 413px;
  }

  .section-12__header{
    padding-bottom: 54px;
    padding-top: 0;
    width: 296px;
  }

  .section-12__title{
    font-size: 33.65px;
    margin-bottom: 24px;
  }

  .section-12__text{
    font-size: 11.22px;
    padding-left: 56px;
    line-height: 18px;

    &::before{
      top: 6px;
      left: 8px;
      width: 34px
    }
  }

  .section-12__image{
    width: 388px;
    height: 413px;
  }

  .section-12__list{
    width: 291px;
    padding-left: 28px;
    padding-bottom: 0px;
  }

  .section-12__item{
    &:not(:last-child){
      margin-bottom: 24px;
    }

    &:before{
      width: 9px;
      height: 8px;
      left: -20px;
      top: 1px;
    }
  }

  .section-12__list-title{
    font-size: 11.22px;
    margin-bottom: 6px;
  }

  .section-12__list-text{
    font-size: 11.22px;
  }
}

// ----------------------------1200
@media (min-width:1200px){
  .section-12{
    height: 370px;

    &__header{
      padding-bottom: 28px;
      padding-top: 0;
      width: 264px;
    }

    &__title{
      font-size: 30px;
      margin-bottom: 24px;
    }

    &__text{
      font-size: 10px;
      padding-left: 56px;
      line-height: 18px;

      &::before{
        top: 6px;
        left: 8px;
        width: 34px;
      }
    }

    &__image{
      width: 346px;
      height: 370px;
    }

    &__list{
      width: 256px;
      padding-left: 28px;
      padding-bottom: 0px;
    }

    &__item{
      &:not(:last-child){
        margin-bottom: 24px;
      }

      &:before{
        width: 9px;
        height: 8px;
        left: -20px;
        top: 1px;
      }
    }

    &__list-title{
      font-size: 10px;
      margin-bottom: 6px;
    }

    &__list-text{
      font-size: 10px;
    }
  }


}

// ------------------------------1440

@media (min-width:1440px){
  .section-12{
    height: 442px;
  }

  .section-12__header{
    padding-bottom: 54px;
    padding-top: 0;
    width: 316px;
  }

  .section-12__title{
    font-size: 36px;
    margin-bottom: 24px;
  }

  .section-12__text{
    font-size: 12px;
    padding-left: 56px;
    line-height: 22px;

    &::before{
      top: 6px;
      left: 8px;
      width: 34px
    }
  }

  .section-12__image{
    width: 416px;
    height: 442px;
  }

  .section-12__list{
    width: 308px;
    padding-left: 28px;
    padding-bottom: 0px;
  }

  .section-12__item{
    &:not(:last-child){
      margin-bottom: 24px;
    }

    &:before{
      width: 9px;
      height: 8px;
      left: -20px;
      top: 1px;
    }
  }

  .section-12__list-title{
    font-size: 12px;
    margin-bottom: 6px;
  }

  .section-12__list-text{
    font-size: 12px;
  }
}
