@mixin font-text-13 () {
  font-size: 13.5px;
  line-height: 19.5px;
}

@mixin font-text-8 () {
  font-size: 8px;
  line-height: 13.5px;
}
// Main - Section-03
// section padding top & bottom
.section-03 {
  padding-top: 20px;
  padding-bottom: 32px;
  @media screen and (min-width: 480px) {
    padding-top: 36px;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 52px;
  }
  @media screen and (min-width: 960px) {
    padding-bottom: 42px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 72px;
  }
}
.facts {
  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      width: 200px;
      height: 110px;
      position: absolute;
      bottom: 28px;
      right: -10px;
      background-image: url('../img/bg-analityc.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
      z-index: -1;
    }
  }
}

// Heading for section
.facts__heading {
  max-width: 194px;
  margin: auto;
  text-align: center;
  @media screen and (min-width: 480px) {
    max-width: 296px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    flex: 0 0 220px;
    margin: 0;
  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
  &-caption {
    margin: 0;
    padding-left: 26px;
    position: relative;
    text-transform: initial;
    @include heading-style ($acrom-medium, 9px, 13px, #000, initial, left);
    @media screen and (min-width: 480px) {
      padding-left: 38px;
      @include font-text-13();
    }
    @media screen and (min-width: 768px) {
      @include font-media(10, 17);
      padding-left: 44px;
      max-width: 160px;
    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
    &::before {
      position: absolute;
      left: 0;
      top: 4px;
      content: '';
      display: inline-block;
      width: 13px;
      height: 1.5px;
      background-color: #000;
      @media screen and (min-width: 480px) {
        width: 19.5px;
        height: 2.3px;
        top: 9px;
      }
      @media screen and (min-width: 768px) {
        width: 28px;
        height: 3.5px;
        top: 6px;
      }
      @media screen and (min-width: 960px) {

      }
      @media screen and (min-width: 1200px) {

      }
      @media screen and (min-width: 1440px) {

      }
    }
  }
  &-title {
    margin: 0;
    margin-bottom: 28px;
    @include heading-style ($acrom-extrabold, 12px, 16px, #000, uppercase, left);
    @media screen and (min-width: 480px) {
      text-align: center;
      margin-bottom: 42px;
      @include font-media (18,24);
    }
    @media screen and (min-width: 768px) {
      @include font-media(27, 33.5);
      text-align: left;
    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
    &--bold {
      font-family: $acrom-bold;
    }
    &--letter {
      letter-spacing: -0.1px;
    }
    &--bgc {
      display: inline-block;
      background-color: rgb(0, 0, 0);
      color: $primary-color;
      min-width: 182px;
      text-align: center;
    }
  }
}

// Facts List
.facts__list {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 480px) {
    margin-top: 42px;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 320px;
  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
}

.facts__items {
  margin-bottom: 20px;
  padding-left: 26px;
  position: relative;
  &:nth-last-child(-n+1){
    margin-bottom: 0;
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 28px;
    padding-left: 38px;
    &:nth-last-child(-n+1){
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    flex: 0 0 150px;
    padding-left: 0;
    margin-bottom: 20px;
    &:nth-child(2) {
      order: 4;
      margin-bottom: 0;
    }
    &:nth-child(3) {
      order: 3;
      margin-bottom: 0;
    }
    &:nth-last-child(-n+1) {
      margin-bottom: 20px;
    }

  }
  @media screen and (min-width: 960px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (min-width: 1440px) {

  }
  &::before {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    content: '';
    background-color: rgb(255, 107, 8);
    width: 6.3px;
    height: 6.45px;
    @media screen and (min-width: 480px) {
      width: 9.5px;
      height: 9.7px;
      left: 15px;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
  }
  &:nth-last-child(1) {
    margin-bottom: 0px;
  }
  &:nth-child(2) > .data > .data__subtitle, &:nth-child(3) > .data > .data__subtitle {
    margin-bottom: 0;
  }
}

// In list items data
.data {
  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: $acrom-extrabold;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1;
    @media screen and (min-width: 480px) {
      font-size: 24px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 768px) {
      font-size: 16.5px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
    &--size {
      font-size: 8.5px;
      @media screen and (min-width: 480px) {
        font-size: 13px;
      }
      @media screen and (min-width: 768px) {
        font-size: 9px;
      }
      @media screen and (min-width: 960px) {

      }
      @media screen and (min-width: 1200px) {

      }
      @media screen and (min-width: 1440px) {

      }
    }
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-size: 9px;
    font-family: $acrom-medium;
    color: rgb(0, 0, 0);
    line-height: 13px;
    @media screen and (min-width: 480px) {
      @include font-text-13();
      margin-bottom: 18px;
    }
    @media screen and (min-width: 768px) {
      font-size: 7.5px;
      line-height: 13.5px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
    &--bgc {
      padding: 0 2px;
      text-align: center;
      background-color: rgb(22, 235, 254);
    }
  }
  &__descr {
    margin: 0;
    font-size: 9px;
    font-family: $acrom-regular;
    color: #3f4144;
    line-height: 13px;
    @media screen and (min-width: 480px) {
      @include font-text-13();
    }
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 12px;
    }
    @media screen and (min-width: 960px) {

    }
    @media screen and (min-width: 1200px) {

    }
    @media screen and (min-width: 1440px) {

    }
  }
}
