/*
  Import partials below
*/

@import 'normalize';
@import '_reset';
@import '_helpers';
@import '_variables';
@import 'mixin';
@import 'main';
@import 'fonts';
@import 'section-01';
@import 'section-02';
@import 'section-03';
@import 'section-04';
@import 'section-05';
@import 'section-06';
@import 'section-07';
@import 'section-08';
@import 'section-09';
@import 'section-10';
@import 'section-11';
@import 'section-12';
@import 'section-13';
@import 'section-14';
@import 'section-15';
@import 'section-16';
@import 'section-17';
@import 'section-18';
@import 'section-19';
@import 'section-20';

// add you scss in here!

