/*
  Import partials below
*/
@import 'normalize';
@import '_reset';
@import '_helpers';
@import '_variables';
@import 'mixin.scss';
@import 'main';
@import 'fonts';
@import 'section-18';
@import 'section-19';
@import 'section-20';
@import 'media-telephone.scss';
@import 'media-tablet.scss';
@import 'media-desktop.scss';
// add you scss in here!

